<% content_for(:body_class, "body_background") %>
<body class="body_background">
<div id="clearance" class="sign-in">
 <!--  <h2><%= t(".title") %></h2> -->

  <%= render partial: '/sessions/form' %> 

</div>
</body>
