<div class="form-edit_task">
	<h3>Edit Task</h3>
	<!-- o user_id tem de ser passado dependendo do login do user -->
	<form action="/task/<%=@task.id%>/update/1" method='post'>
		<div>
			<label for="field">Task:</label>
		</div>
		<div>
			<input name="field" type="text" value="<%= @task.field %>">
		</div>
		<div>
			<button type="submit">update task</button>
		</div>
	</form>
</div>