<div class="container project-new">
	<h3>Create Project</h3>
	<form action="/project/create" method="post">
		<input type="text" name="name" placeholder="Insert your name here">
		<input type="text" name="description" placeholder="Insert description here">
		<button type="submit">Create Project</button>
	</form>
</div>