<div class="form-create_user">
	<h3>Create User</h3>
	<form action="/user/create" method='post'>
		<div>
			<label for="first_name">First Name</label>
		</div>
		<div>
			<input name="first_name" type="text" placeholder="insert first name" required>
		</div>
		<div>
			<label for="last_name">Last Name</label>
		</div>
		<div>
			<input name="last_name" type="text" placeholder="insert last name" required>
		</div>
		<div>
			<label for="email">Email</label>
		</div>
		<div>
			<input name="email" type="email" placeholder="insert your email" required>
		</div>
		<div>
			<button type="submit">Create user</button>
		</div>
	</form>
</div>
