<div class="container-list-users">
	<h3> List all Users </h3>
	<ul class="list-users">
		<% @users.each do |user| %>
			<li>
				<%= user.first_name %>
				<a href="/user/<%= user.id %>/remove"><button>Remove user</button></a>
				<a href="/user/<%= user.id %>/edit"><button>Edit user</button></a>
			</li>
		<% end %>
	</ul>
</div>
