<div class="form-create_groups">
	<h3>Create new group</h3>
	<form action="/group/create" method="post">
		<input type="text" name="name" placeholder="Insert your name here">
		<input type="text" name="description" placeholder="Insert description here">
			<div class="container">
				<% @users.each do |user| %>
		    	<input type="checkbox" /> <%= user.first_name %> <br />
		    <% end %>
			</div>
		<button type="submit">Create group</button>
	</form>
</div>
