<div class="form-create_groups">
	<h3>Create new group</h3>
	<form action="/group/create" method="post">
		<input type="text" name="name" placeholder="Insert your name here" required>
		<input type="text" name="description" placeholder="Insert description here" required>
		<button type="submit">Create group</button>
	</form>
</div>
