<!DOCTYPE html>
<html>
<head>
	<title>Trek</title>
</head>
<body>
	<div class="container-fluid">
		<div class="embed-responsive embed-responsive-16by9">
			<div id="background">
				<iframe id='player' width="100%" height="100%" src="https://www.youtube.com/embed/Rk6_hdRtJOE?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=Rk6_hdRtJOE&amp;enablejsapi=1&version=3" frameborder="0"></iframe>
			</div>
			<div class="row">
				<div class="col-md-4">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign Up</button>
				</div>
				<div class="col-md-6 col-md-offset-3">
					<h1><b>Trek</b></h1>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">@</span>
						<input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">?</span>
						<input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Enter</button>
				</div>
				<div class="col-md-4">
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<h1><b>Sign up</b></h1>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">F</span>
									<input type="text" class="form-control" placeholder="First name" aria-describedby="basic-addon1">
								</div>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">L</span>
									<input type="text" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
								</div>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">@</span>
									<input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
								</div>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">?</span>
									<input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
								</div>
								<button type="Submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>          
	</div>
</body>
</html>