body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.button, html input[type="button"], input[type="reset"], input[type="submit"]{
    background-color: transparent;
    border:none;
    outline: none
}

.task-new-edit-container{
  display: flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin-left: 350px;
  margin-bottom: 149px;
  margin-top: 150px;
}

.button-edit-task{
  margin-left: 65px;
}

.button, html input[type="button"], input[type="reset"], input[type="submit"]{
  background-color: transparent;
  border:none;
  outline: none
}

.reset-email-container{
  display: flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 300px;
  margin-top: 200px;
  margin-top: 40%;
}

.password-reset-description{
  display: flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 40%;
}

.reset-password-button{
  margin-left: 50px;
}


.sign_up-login-page{
  background-color: transparent;
  border:none;
  outline: none
}

.app_name-login-page{
  display: flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 200px;
}

.app_name-login-page p{
  font-size: 50px;
  font-weight: bold;
}

.app_name-login-page h1{
  font-size: 50px;
  margin-bottom: -20px;
}

.login-signup-container{
 display: flex;
 display: -webkit-flex;
 display: flex;
 flex-direction: column;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
 width: 300px;
 margin-top: 200px;
 margin-left: 60px;

}

.modal .modal-footer {
  width: 60%;
}

body {
  background-color: white;
  min-height: 100%;
}

html {
  height: 100%;
}

.search-container {
  color: #fff;
  background-color: #ee6e73;
}

.search-header {
  max-height: 720px;
  overflow: hidden;
  padding: 96px 0 64px;
}

.input-field .prefix.active {
  color:white;
}

#search-input input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

#search-input.input-field .prefix.active ~ input[type=text] {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

#search-input input[type=text] {
  border-bottom: 1px solid #FFFFFF;
}

.search-field {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}

.search-field .input-field .clear-search {
  position: absolute;
  right: -9999px;
  top: 0px;
  opacity: 0;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.search-field .input-field .clear-search i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
}

input[type=text].valid.search {
  border-bottom: 1px solid #FFFFFF;
}

.search-field .prefix.active ~ .clear-search {
  right: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.task-button {
  padding: 0;
}

footer.page-footer {
  padding-top: 0;
}


.list-results {
  background: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.list-results .column-centered {
  width: 760px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-view {
  padding: 64px 0 128px;
  display: table;
  width: 100%;
  margin: 0;
  list-style: none;
}

.search-title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  margin: 0;
  margin: 0;
}

header .user-profile-image {
  bottom: 13px;
  left: 0;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}

header .user-profile-image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAABGlBMV…ugGumbEqe42dVUw%2Fvm45T8MaY6Cc06%2BKUsUqrV32DAT5P3H1sQsWyjAAAAAElFTkSuQmCC) 0 0 no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

header .user-profile-image img {
  vertical-align: top;
  width: 40px;
  height: 40px;
}

header span.user-name {
  margin-left: 5px;
}

.project-search-results ul {
  float:left;
  margin-left: 25px;
}

.project-search-results {
  width: 100%;
  padding: 25px 0 39px;
  display: inline-block;
}

.project-search-results .user-project-image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAABGlBMV…ugGumbEqe42dVUw%2Fvm45T8MaY6Cc06%2BKUsUqrV32DAT5P3H1sQsWyjAAAAAElFTkSuQmCC) 0 0 no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
  float:left;
}
.project-search-results .user-project-image {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}

.project-search-results .user-project-image img {
  width: 76px;
  height: 76px;
}

.media-round {
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-panel {
  background: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.user-panel:first-child {
  border:0px;
}

.user-panel-header {
  background-color: #ee6e73;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #e53935;
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}

.user-panel-body {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}

.user-panel-footer {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
  text-align: right;
}

.user-panel-header +.user-panel-body {
  border-top:0;
}

.container .user-panel {
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-background-container {
  display: inline-block;
  position: relative;
}

.media-photo {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #cacccd;
}

.profile-picture {
  position: absolute;
  top: 0;
  left: auto;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

.profile-picture, .media-photo img {
  width: 410px;
  height: 410px;
  vertical-align: middle;
}

.profile-background-container .media-round img {
  width: 410px;
  height: 410px;
  border-width: 0;
}

.user-panel a.btn + button {
  margin-left: 10px;
}

.btn.upload-button {
  color: #fff;
  background-color: #b0bec5;
}

.btn.back-button {
  color: #6F6F6F;
  background-color: #fff;
}

.user-panel {
  background: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.body-panel:first-child {
  border:0px;
}

.body-panel-header {
  background-color: #ee6e73;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #e53935;
  position: relative;
  margin: 0;
  padding: 16px;
  border-top: 1px solid #dce0e0;
}

.body-panel-body {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}

.body-panel-footer {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
  text-align: right;
}

.body-panel-header +.body-panel-body {
  border-top:0;
}

.container .body-panel {
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn.cancel-account-button {
  color: #fff;
  background-color: #ef5350;
}

.modal {
  border-radius: 2px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.modal .modal-content {
  padding: 0px;
}

.modal-content .body-panel-header {
  border-top: 0;
}
