<h1>Home Page</h1>

<div class="new_user">
	<a href='/user/new'><button>New User</button></a>
</div>

<%= erb :"/users/user_list" %>

<div class="new_group">
	<a href='/group/new'><button>New Group</button></a>
</div>

<%= erb :"/groups/group_list" %>