<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
          normalize.css removes cross-browser differences in defaults, e.g.,
          differences in how form elements appear between Firefox and IE
          See: http://necolas.github.com/normalize.css/
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

        <!-- Boostrap Compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

        <!-- Materialize Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- application.css is where you put your styles -->
        <link rel="stylesheet" href="/stylesheets/application.css">

        <!-- Bootstrap js -->

        <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

        <title>Trek Project</title>
    </head>
    <body>
        <%= yield %>

        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/javascript/application.js"></script>

        <!-- Materialize Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    </body>
</html>
