<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <script src="/javascript/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascript/application.js"></script>
  

        <!--
        normalize.css removes cross-browser differences in defaults, e.g.,
        differences in how form elements appear between Firefox and IE
        See: http://necolas.github.com/normalize.css/
        -->
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <!--
        application.css is where you put your styles
        -->
        <link rel="stylesheet" href="/stylesheets/application.css">

        <script src="/javascript/application.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>TREK</title>

    </head>
    <body>
      <%= yield %>
    </body>
</html>
