<div class="search-container" id ="searchInput" style="display:none;">
    <div class="container">
        <div class="search-header">
            <div class="nav-wrapper">
                <form action="#">
                    <div class="search-field">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" name="search">
                            <!-- limpa o que estiver no input -->
                            <button id="clearSearch" type="button" class="clear-search">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
